@import './fonts.generated.css';
@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', Arial, sans-serif;
}

html {
	font-family: 'Geist', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	@apply text-pretty;
}
